@import './variables/variables';
// @import './paginas/style';

/*================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
.main-menu .navbar-header {
   height: 100%;
   width: 260px;
   height: 4rem;
   position: relative;
   transition: 300ms ease all, background 0s;
}

.el-button--primary {
   background-color: $primary;
   border-color: $primary;
   opacity: .8;

}

.el-button--primary:hover {
   background-color: $primary;
   border-color: $primary;
   opacity: 1;
}

.select-checkbox {
   display: none !important;
}


.btn-group .router-link-active {
   background-color: $primary;
   color: white;
}

.el-table .cell {
   word-break: normal !important;
}

.dark-layout .el-divider__text {
   background-color: #283046;
   color: white;
}

.dark-layout .el-input__inner,
.dark-layout .el-table th.el-table__cell,
.dark-layout .el-table tr {
   background-color: #283046;
}

// .dark-layout .el-input-group__append button.el-button,
// [dir] .el-input-group__append div.el-select .el-input__inner,
// [dir] .el-input-group__append div.el-select:hover .el-input__inner,
// [dir] .el-input-group__prepend button.el-button,
// [dir] .el-input-group__prepend div.el-select .el-input__inner,
// [dir] .el-input-group__prepend div.el-select:hover .el-input__inner {
//    background-color: #283046;
// }

.dark-layout .el-table__expanded-cell {
   background-color: #283046;
}

.dark-layout .el-tabs--border-card {
   background: #283046;
   border: 1px solid #7c859d;
   box-shadow: 0 2px 4px 0 rgb(0 0 0 / 12%), 0 0 6px 0 rgb(0 0 0 / 4%);
   border-radius: 10px;

}

.dark-layout .el-tabs--border-card>.el-tabs__header {
   background-color: #283046;
   border-bottom: 1px solid #798193;
   margin: 0;
   border-radius: 10px 10px 0px 0px;
}

.dark-layout .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
   background-color: #3b4152;
   color: white;
   border-bottom: 1px solid #605746;
   margin-left: .5rem;
}

.dark-layout .el-card {
   border: 1px solid #EBEEF5;
   background-color: #283046;
   border: 1px solid $primary;
   color: white !important;
}

.dark-layout .el-card__header {
   padding: 18px 20px;
   border-bottom: 1px solid $primary;
}

.dark-layout .bg-light {
   background-color: #283046 !important;
}

* {
   scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
   scrollbar-width: thin;
}

*::-webkit-scrollbar {
   -webkit-appearance: none;
}

*::-webkit-scrollbar:vertical {
   width: 10px;
}

*::-webkit-scrollbar-button:increment,
*::-webkit-scrollbar-button {
   display: none;
}

*::-webkit-scrollbar:horizontal {
   height: 10px;
}

*::-webkit-scrollbar-thumb {
   background-color: #72717170;
   border-radius: 20px;
   border: 2px solid #f1f2f3;
}

*::-webkit-scrollbar-track {
   border-radius: 10px;
}

.el-dialog__body {
   color: #606266;
   font-size: 14px;
   word-break: normal;
}

.menu-collapsed .main-menu img {
   width: 90px !important;
   position: absolute;
   left: 0;
   object-fit: contain;
}

.menu-collapsed .main-menu.expanded img {
   width: 180px !important;
   position: relative;
   left: 0;
   object-fit: cover;
}

.horizontal-menu .header-navbar.navbar-brand-center .navbar-header {
   left: calc(0%) !important;
}

body {
   // -moz-transform: scale(0.9, 0.9);
   // zoom: 0.9;
   // zoom: 90%;
   overflow-wrap: normal !important;
}

.el-table {
   overflow-wrap: normal !important;
}
.el-dialog{

   width: 90% !important;
}

@media(min-width:862px){
   .el-dialog{
      width: 70% !important;
   }
}

@media(min-width:1182px){
   .el-dialog{
      width: 50% !important;
   }
}

.main-menu .navbar-header .navbar-brand {
    margin-top: 0rem !important;
}

.auth-wrapper.auth-v1 {
   //  background-color: #a03bb3;
}

.auth-wrapper.auth-v1 .auth-inner:before {
    z-index: 1 !important;
}
.auth-wrapper.auth-v1 .auth-inner:after {
    z-index: -1 !important;
}


.brand-logo img {
   max-width: auto;
   height: 50px;
}

.logo img {
   max-width: 250px ;
    height: auto ;
}
.main-menu .navbar-header {
    height: 6rem;
}

.main-menu .navbar-header .modern-nav-toggle {
    color: white;
}

.main-menu.menu-light .navigation > li.open:not(.menu-item-closing) > a{
   color: white;
}

.dark-layout .main-menu-content .navigation-main li a,
.main-menu.menu-light  .navigation-main li a{
    font-size: 10pt !important;
}


.dark-layout{
   a.nav-link.router-link-exact-active.router-link-active,
   a.nav-link.router-link-exact-active {
      font-weight: bolder;
      color: $primary !important;
      font-size: 14pt;
   }
}

a.nav-link.router-link-exact-active.router-link-active,
a.nav-link.router-link-exact-active {
    font-weight: bolder;
    color: $primary !important;
    font-size: 14pt;
}

.btn-primary.active{
   background-color: #283046 !important;
}


// Horizontal-layout-public

.horizontal-layout-public{

   .header-navbar-shadow {
       height: 50px !important;
   }

   &.navbar-floating:not(.blank-page) .app-content,
   &.navbar-static:not(.blank-page) .app-content,
   &.navbar-sticky:not(.blank-page) .app-content  {
    padding: 0px 0px 0px 0px !important;
   }
   
   &.navbar-floating .header-navbar-shadow,
   &.navbar-static .header-navbar-shadow,
   &.navbar-sticky .header-navbar-shadow {
       height: 30px;
   }

   .header-navbar-shadow{
      background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 0%, rgba(0, 0, 0, 0));
   }
}

.dark-layout{

      .header-navbar-shadow {
       height: 50px ;

      }

      .header-navbar-shadow{
         background: linear-gradient(180deg, rgba(0,0,0,.3) -19%, rgba(0,0,0,.13) 0%, rgba(0, 0, 0, 0));
      }

      .header-navbar-shadow {
         background: linear-gradient(180deg, rgb(27 25 26) 10%, rgb(27 25 26) 30%, rgba(22, 29, 49, 0));
      }

      footer.footer {
         background-color: #2e2e2e;
      }

      
      .bienvenidos{

          .banner-content-principal{
            z-index: 5;
         }

         &::before{
              content: '';
         background: #211e1fb3 !important;
         width: 100%;
         /* display: block; */
         height: 92vh;
         z-index: 1;
         position: absolute;
         right:0;
         }
       
      }

     

}

